<a href="https://colab.research.google.com/github/ankit221814/PYTHON/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are data structure, and why are they importtant?

Answer:- Data structure are way of organizing  and storing data in a computer so that it can be accessed and modified efficiently.They are important because they unable us to manage and manipulate data in logical and organized manner,which is crucial for building efficient and scalable software.

2.Explain the difference between mutable and immutable data types with example?

Answer:-Mutable - The value of a mutable object can be changed after it is created.Example,lists,dictionaries, and sets.
Immutable - The value of an immutable object cannot be changed after it is created.Examples- integer,float,strings,and tuples.

3.What are main difference between lists and tuples in python?

Answer:- Lists are mutable while tuples are immutable.

Lists are created using square bracket while tuples are created using parentheses.

Tuples are generally faster than lists because of their immutability.

4.Describe hoe dictionaries store data.

Answer:- Dictionaries store data in key value pairs.Each key is unique and is used to access its corresponding value.The keys must be of an immutable type ,while the values can be of any data type.The key value pairs are stored in a hash table,which allows for very fast lookups.

5.Why might you use a set instead of a list in python?

Answer:-When you need to store a collection of unique items.Sets automatically handle duplicate removal.
You need to perform fast membership testing,and to perform mathematical set operations like union,intersection,and difference.

6.What is a string in python ,and how is it different from a list?

Answer:-A string is sequence of character,while a list can obtain items of any data type.A string is immutable ,while a list is mutable.
Strings are created using single or double quotes, while lists are created using square brackets.

7.How to tuples ensure data inegrity in Python?

Answer:-Tuples ensure data integrity because they are immutable.Once a tuple is created,its element cannot be changed,added or removed.This prevent accidental modification of the data,which is useful for storing data that should remain constant.

8.What is hash table,and how does it relate to dictionaries in Python?

Answer:-A hash table is a data structure that maps keys to values.It uses a hash function to compute an index into  an array of buckets or slots,from which the desired values can be found.

9.Can Lists contain different data tupes in Python?

Answer:- Yes,lists can obtain different data types.For example,a single list can contain an integer, a string,a float,and even another list.

10.Explain why strings are immutable in Python.

Answer:- Strings are immutable in python for several reasons:
Efficiency-Immutablity can lead to performance optimization,especially in memory management.

Security- It prevents accidental modification of string values,which is important when strings are used as keys in dictionaries or as part of a system's core functionality.

11.What advantages do dictionaries offer over lists for certain tasks?

Answer:-Ouick access: Find an item instantly using its label(key)

easy to read : keys like 'name' and 'age' make the data clear.

Organized data : great for storing related infromation together.

12.Describe a scenario where using a tuple would preferable over a list.

Answer:- A tuple would be preferable over a list when you need to store a fixed collection of related items that should not be changed.

13.How do sets handle duplicate values in Python?

Answer:- Sets automatically handle duplicate values by storing onlyone instance of each unique item.If you try to add an item that already exists in a set,the set will simply ignore the addition without raising an error.This is one of the primary feature of a set.

14.How does the 'in' keyword work differently for lists and dictionaries.

Answer:-For lists the 'in' keyword checks for the presence of an element within the list's values.

For Dictionaries the 'in' keyword checks for the presence of a key within the dictionary's keys.It uses the dictionary's hash table implementation,

15.Can you modify the element of tuple?Explain why or why not.

Ans:- No,you cannot modify the elements of a tuple.This is because tuples are immutable .The immutability of tuples is a core design choice that ensures data integrity and allows for certain performance optimization.

16.What is a nested dictionary,and give an example of its use case

Answer:-A nested dictionary is a dictionary where the values are themeselves dictionaries.A comman use  case is to present hierarchical or structured data.

In [3]:
#nested dictionary example
myfamily = {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
    "child3": {"name": "Linus", "year": 2011}
}

17.Describe the time complexity of accessing elements in a dictionary.

Answee:- The average-case time complexity for accessing alement in a dictionaryis O(1).In the worst-case scenario it can degrade to O(n),but this is rare in practice.

18.In what situation are lists preferred over dictionaries?

Answer:-The oreder of the element is important.

You need to store a collection of items that can contain duplicates.

You need to access elements by their integer index.

The data does not have a natural key-value relationship.

19.Why does dictionaries considered unordered,and how does that affect data retrieval?

Answer:-Because they are typically implemented using hash table,a data structure that prioritize quick retrieval of data over maintaning a specific order.

20.Explain the difference between a list and a dictionary in term of data retrieval.

Answer:-In lists data retrieval is based on an integr index.To retrieve an element you must know its position.
In dictionaries data retrieval is based on aunique ,immutable key.to retrieve a value you must know  its key.

In [5]:
#1.Write a code to create a string with your name and print it.

my_name = "Ankit Kumar"
print(my_name)

Ankit Kumar

In [7]:
#2.Write a code to find the length of the string "Hello World".

my_string = "Hello World"
length = len(my_string)
print("The length of the string is:", length)

The length of the string is: 11

In [8]:
#3.Write a code to slice the first 3 character from the string "Python Programming".

my_string = "Python Programming"

first_three = my_string[:3]
print(first_three)

Pyt

In [9]:
#4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [11]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [19]:
#7Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [20]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [21]:
#9Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [22]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [23]:
#11Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [24]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue').
colors = ('red', 'green', 'blue')
print(colors[-2])

green

In [25]:
#13Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [26]:
#14Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [29]:
#15Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [28]:
#16Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [30]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [31]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [32]:
#19Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [33]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [34]:
#21Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it.
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [36]:
#22 Write a code my_dict = {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#23Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [38]:
#24Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25 Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [40]:
#26Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'key1': 'value1', 'key2': 'value2'}

In [41]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (Replaced)
import random
my_list = [random.randint(1, 100) for _ in range(5)]
my_list.sort()
print(my_list)

[20, 25, 42, 59, 65]

In [42]:
#28 Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[3])

date

In [43]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [44]:
#30Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'apple']
my_set = set(my_list)
print(my_set)

{'apple', 'banana'}